@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Retroarch Panel</h1>
    <p>Website local para leitura de informações do Retroarch.</p>
    <p>Esta aplicação não realiza quaisquer alterações nos arquivos do Retroach.</p>
    <p>Autor: <a href="https://paulorobertoelias.com.br" target="_blank">Paulo Roberto Elias</a>.</p>
    <p>Repositório do projeto: <a href="https://github.com/PRElias/retroarch-panel" target="_blank">GitHub</a></p>
    <p>Blog Post sobre o projeto: <a href="#" target="_blank">em construção</a></p>
</div>
